
body{
    background: #efeee7cf;  
  }

img {
    padding: 10px;
    display: inline-block;
  }
.image_link:hover {
   opacity: 0.5;
}

th {
  text-align: center;
  background: #333;  
  color: #efeee7cf;
}

.active_img {
  border-color: rgb(10, 98, 101);
  border: 2px;
  border-style: solid;
}
.copy {
    margin: 20 !important;
    font-family: Garamond, Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
  }

  .h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }
  
  .h2 {
    font-size: 24px;
    color: #333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .navbar-nav{
    float:right;
  }


  